<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="mainwindow" version="2">
    <MenuBar>
        <Menu name="Profile">
            <text>&amp;Profile</text>
            <Action name="addProfile" />
            <Action name="openProfile" />
            <Separator />
            <Action name="removeProfile" />
            <Separator />
            <Action name="quit" />
        </Menu>
    </MenuBar>
    <ToolBar name="mainToolBar">
        <Action name="addProfile" />
        <Action name="openProfile" />
        <Separator />
        <Action name="removeProfile" />
        <Separator />
        <Action name="quit" />
    </ToolBar>
</kpartgui>