<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="mainwindow" version="2">
    <MenuBar>
        <Menu name="Profile">
            <text>&amp;Profile</text>
            <Action name="addProfile" />
            <Action name="openProfile" />
            <Action name="removeProfile" />
        </Menu>
<!--        <Menu name="vehicle">
            <text>&amp;Vehicle</text>
            <Action name="addVehicle" />
            <Action name="removeVehicle" />
            <Separator />
            <Action name="showDeadlines" />
            <Action name="checkNow" />
        </Menu>
        <Menu name="owners">
            <text>&amp;Owners</text>
            <Action name="modifyOwners" />
        </Menu>-->
    </MenuBar>
    <ToolBar name="mainToolBar">
        <Action name="addOwner" />
        <Action name="removeOwner" />
        <Separator/>
        <Action name="addVehicle" />
        <Action name="removeVehicle" />
    </ToolBar>
</kpartgui>